*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li, menu{
    text-decoration: none;
    list-style: none;
}

a{
    color: currentColor;
    text-decoration: none;
}

img{
    max-width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
/* main-section */

/* section{
    position: relative;
} */

.container-grid{
    border: 1px solid red;
    height: calc(100vh - 80px);
    padding: 80px 80px 30px;
    background-color: black;
}

.container-menu{
    border: 1px solid red;
}

.col{
    flex-basis: calc(100%/7);
}

.wrapper-cams{
    padding: 4px 4px 7px;
    position: relative;
    color: white;
}

.buttons-up{
    background-color: #4A4A4A;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    top: 5px;
    right: 27px;
}

.buttons-up-right{
    position: absolute;
    top: 5px;
    right: 0px;
    background-color: #4A4A4A;
    border-radius: 5px;
    padding: 5px;
}

.mute{
    position: absolute;
    left: 5px;
    bottom: 11px;
    padding: 3px;
    background-color: rgba(81, 91, 110, 0.5);
}

/* second section */