*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li, menu{
    text-decoration: none;
    list-style: none;
}

a{
    color: currentColor;
    text-decoration: none;
}

img{
    max-width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main-section */

.container-grid{
    border: 1px solid red;
    height: calc(100vh - 80px);
    padding: 80px 80px 30px;
    background-color: black;
}


.col{
    flex-basis: calc(100%/7);
}

.wrapper-cams{
    padding: 4px 4px 7px;
    position: relative;
    color: white;
}

.buttons-up{
    background-color: #4A4A4A;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    top: 5px;
    right: 27px;
}

.buttons-up-right{
    position: absolute;
    top: 5px;
    right: 0px;
    background-color: #4A4A4A;
    border-radius: 5px;
    padding: 5px;
}

.mute{
    position: absolute;
    left: 5px;
    bottom: 11px;
    padding: 3px;
    background-color: rgba(81, 91, 110, 0.5);
}

/* second section */

.container-menu{
    border: 1px solid red;
    background-color: rgb(34, 34, 34);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containers-buttons-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.end-meeting{
    color: red;
    background-color: rgb(74, 74, 74);
    height: 100%;
    padding: 0 20px;
}